# Environment
NODE_ENV=development

# Directories
PUBLIC_DIR=/public
UPLOAD_DIR=/public/uploads

# MongoDB URL (to change)
DB_URL='mongodb+srv://dbuser:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority'

# Secret key used to sign JWT tokens
SECRET='QbZzPdCGxyW#RYSJSmTwFgS2GJEmps'

# mongoose-encryption keys
ENCRYPTION_32BYTE='DLBGGSGCmn908KtOXa16FIVpDkaJMwqyJYqYxzL8vO4=' // generated with: openssl rand -base64 32;
ENCRYPTION_64BYTE='jhwDJu2MveHiQxZylqx+bm5FbtWxOEt/wy/+hm22/L2po1wba7bOOaTeiZQk0M4+x5ZRfqwmyUSMeuxkgXNHFg===' //generated with: openssl rand -base64 64;

# !! You don't need to change something below !!
# !! You don't need to change something below !!

# App host / port configuration
APP_HOST=localhost
APP_PORT=3000

# API default URL
API_URL='/api'

# Client app URL
CLIENT_ENDPOINT='http://localhost:4200'
